.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

.navItem {
    color: #1b1616;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
}

.navItem:hover {
    background-color: #a4a2a2;
}

.navItem.active {
    color: #34794c;
    font-weight: 600;
}

.postButton {
    color: #FFFFFF;
    background-color: #F7C5A8;
    font-weight: bold;
}